.banner {
  color: #fff;
  object-fit: contain;
  height: 44.8rem;
  position: relative;
}

.banner__contents {
  margin-left: 3rem;
  padding-top: 14rem;
  height: 9rem;
}

.banner__title {
  font-size: 4.8rem;
  font-weight: 800;
  padding-bottom: 0.5rem;
}

.banner__description {
  width: 72rem;
  line-height: 1.5;
  padding-top: 1.6rem;
  font-size: 1.4rem;
  max-width: 36rem;
  height: 8rem;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding-left: 3.2rem;
  padding-right: 3.2rem;
  margin-right: 1.6rem;
  padding-top: 0.8rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.8rem;
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
