.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 2rem;
}

.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  max-width: 100%;
  object-fit: contain;
  max-height: 10rem;
  margin-right: 1rem;
  transition: transform 450ms;
}
.row__poster:hover {
  transform: scale(1.08);
  /* opacity: 1; */
}

.row__posterLarge {
  max-height: 25rem;
}

.row__posterLarge:hover {
  transform: scale(1.09);
}
